@use 'media' as media;
@use 'variables' as variables;

section {
  padding: variables.$section-padding-y-large variables.$section-padding-x-desktop-l;

  @include media.desktop-medium {
    padding: variables.$section-padding-y-large variables.$section-padding-x-desktop-m;
  }

  @include media.desktop-small {
    padding: variables.$section-padding-y-large variables.$section-padding-x-desktop-s;
  }

  @include media.tablet {
    padding: variables.$section-padding-y-medium variables.$section-padding-x-tablet;
  }

  @include media.mobile {
    padding: variables.$section-padding-y-small variables.$section-padding-x-mobile;
  }
}

nav {
  padding: 32px variables.$section-padding-x-desktop-l;

  @include media.desktop-medium {
    padding: 32px variables.$section-padding-x-desktop-m;
  }

  @include media.desktop-small {
    padding: 32px variables.$section-padding-x-desktop-s;
  }

  @include media.tablet {
    padding: 32px variables.$section-padding-x-tablet;
  }

  @include media.mobile {
    padding: 24px variables.$section-padding-x-mobile;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

p {
  font-family: variables.$font-secondary;
  font-weight: normal;
  margin: 0;
}

h {
  &1,
  &2,
  &3,
  &4,
  &5,
  &6 {
    font-weight: normal;
    margin: 0;
  }

  &1 {
    font-family: variables.$font-primary;
    font-size: 84px;

    @include media.desktop-small {
      font-size: 64px;
    }
  }

  &2 {
    font-family: variables.$font-primary;
    font-size: 64px;
  }

  &1,
  &2 {
    @include media.tablet {
      font-size: 53px;
    }
    @include media.mobile {
      font-size: 40px;
    }
  }

  &3 {
    font-family: variables.$font-secondary;
    font-size: 24px;

    @include media.tablet {
      font-size: 20px;
    }
    @include media.mobile {
      font-size: 18px;
    }
  }
}

input,
select {
  background-color: inherit;
  border: none;

  &::placeholder {
    color: inherit;
  }
}
