$color-primary: #ff7757;
$color-primary-light: #ffd2c7;
$color-secondary: #331811;
$color-secondary-light: #61291c;
$color-grey: #767e86;
$color-dark-blue: #172432;
$color-image-overlay-orange: rgba(255, 119, 87, 0.1);

$color-offer-card: #fff8f1;

$border: 0px solid transparent;
$border-radius-button: 12px;
$border-radius-big: 26px;

$font-primary: 'Playfair Display', 'sans-serif';
$font-secondary: 'Rubik', 'sans-serif';
$font-mulish: 'Mulish', sans-serif;

$section-padding-x-desktop-l: 182px;
$section-padding-x-desktop-m: 32px;
$section-padding-x-desktop-s: 32px;
$section-padding-x-tablet: 20px;
$section-padding-x-mobile: 16px;

$section-padding-y-large: 140px;
$section-padding-y-medium: 100px;
$section-padding-y-small: 80px;

$grid-gap-desktop-l: 32px;
$grid-gap-desktop-m: 32px;
$grid-gap-desktop-s: 32px;
$grid-gap-tablet: 20px;
$grid-gap-mobile: 16px;
