@use '../media' as media;
@use '../variables' as variables;
@use '../mixins' as mixins;

.blog-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;

  @include media.tablet {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
  &__bordered-image {
    border-radius: variables.$border-radius-big;

    & img {
      @include mixins.bordered-image;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;

    &__title {
      font-family: variables.$font-primary;
      font-size: 54px;

      @include media.mobile {
        font-size: 40px;
      }
    }

    &__description {
      font-family: variables.$font-secondary;
      font-size: 24px;
      line-height: 52px;

      @include media.desktop-small {
        font-size: 18px;
        line-height: 42px;
      }
    }
  }
}
