@use '../media' as media;

.image-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;

  @include media.tablet {
    flex-direction: column;
  }

  &__image {
    height: 570px;
    flex: 1;

    @include media.desktop-medium {
      height: 470px;
    }

    @include media.desktop-small {
      height: 350px;
    }

    @include media.tablet {
      width: 100%;
    }

    @include media.mobile {
      height: 320px;
    }
  }
}
